*{
	margin: 0 auto;
}
.titulo h1{
	margin-bottom: 40px;
	color: blue;
	text-align: center;

}
.form-group p{
	color: orange;
	font-weight: bold;
}
.plano{
	font-size: 15px;
	padding-top: 7px;
	font-weight: bold;
}
#pagar{
	color: blue;
	padding: 7px;
	font-size: 18px;
}
.colr{
	color: black;
}